body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  overflow: hidden;
}



.words-list-container {
  margin-top: 10rem;
}

.paper {
  margin: 2px;
}

.gridItem {
  margin: 10px;
}

.letterBox-div {
  display: flex;
}

.letterBox-div button {
  height: 20px;
  border-radius: 3px;
}

.gray {
  background-color: gray;
  width: 33%;
}

.yellow {
  background-color: yellow;
  width: 33%;
}

.green {
  background-color: green;
  width: 33%;
}